.nameContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1 1 auto;
    padding: var(--stdPadding);
    text-wrap: wrap;
}

.name { 
    margin: 0px;
    text-decoration: underline;
}