.titleWrapper {
    display: flex;
    justify-content: flex-start;
    text-decoration: underline;

    ::before {

    }
}

.employer {
    font-weight: bold;
}

.jobBullet {
    list-style-type: "📌 ";
}

.jobList {
    padding-left: var(--stdPadding);
}