.cards {
    display: flex; 
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
}

