.card {
    padding: var(--stdPadding);
    color: black;
    background-color: aquamarine;
    margin: 8px;
    border-radius: 8px;

    flex: 2 0 25%;
    scroll-snap-align: start;
    box-sizing: border-box;
    transition: 0.3s;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 425px) {
        flex: 0 0 calc(100% - 8px);
    }
}

.buttonWrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.textWrapper {
    text-align: left;
}

.button {
    margin: calc(var(--stdMargin)/3);
}

/* 
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation_go 1s linear infinite;
}

@keyframes rotation_go {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */