.topBar { 
    display: flex; 
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex: 100%; 

    @media (max-width: 450px) {
        flex: 0 0 50%;
        flex-wrap: wrap;

    }
}

.topLinks {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    flex: 2 2 auto;
    padding: var(--stdPadding) 0px;
}

.topLink {
    display: flex;
    flex: 0 0 auto;
    text-align: center;
    font-size: 1.5rem;
    padding: 0px var(--stdPadding);
}

.firstTopLink {
    padding-left: 0px;
}
