.topBar { 
    display: flex; 
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex: 100%; 

    @media (max-width: 450px) {
        flex: 0 0 50%;
        flex-wrap: wrap;

    }
}

.topLinks {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    flex: 2 2 auto;
    padding: var(--stdPadding) 0px;
}

.topLink {
    display: flex;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: var(--stdPadding);
    padding-bottom: 0px;
    transition: 0.3s;   
    text-shadow: 2px 2px 0px purple;

    &:hover {
        padding-bottom: 3px;
        padding-top: 13px;
        text-shadow: 2px 2px 1px purple;
    }
}

.firstTopLink {
    padding-left: 0px;
}
